[submodule "Session4/Session4/KIPAC-StatisticalMethods"]
	path = Session4/KIPAC-StatisticalMethods/
	url = https://github.com/KIPAC/StatisticalMethods.git
	branch = master
    reference = DSFP
[submodule "Session4/KIPAC-StatisticalMethods"]
	path = Session4/KIPAC-StatisticalMethods
	url = https://github.com/KIPAC/StatisticalMethods.git
	branch = master
    reference = DSFP
